<p>DASHBOARD</p>

<h1>Person Info</h1>
<%-person[0]%>
<%-person[1]%>
<%-person[2]%>
<%-person[3]%>
<%-person[4]%>
<%-person[5]%>


<h2>Family</h2>
<%-family[0]%>
<%-family[1]%>

<h3>Address</h3>
<%-address[0]%>
<%-address[1]%>
<%-address[2]%>
<%-address[3]%>
<%-address[4]%>
<%-address[5]%>

<h3>Education</h3>
<%-education[0]%>
<%-education[1]%>
<%-education[2]%>
<%-education[3]%>
<%-education[4]%>
<%-education[5]%>
<%-education[6]%>